# Files to ignore by git change tracker

*.mp4
*.avi

# YOLO Files
runs/*
datasets/*
train/*

# Prototypes
prototypes/*

# Release files
release/*

# Raw data files
data/raw/img/holds/*.jpg
data/raw/img/holds/*.jpeg
data/raw/img/holds/*.png
data/raw/img/routes/*.jpg
data/raw/img/routes/*.jpeg
data/raw/img/routes/*.png

# Cache files
*.pyc

# VSCode configurations
.vscode/*